.div_lista{
  width: 30%; 
  display: inline-block; 
  margin-left: 5%;
}
.body{
    
    background-image: url("https://pbs.twimg.com/profile_images/776855558578065408/lIYl1qqQ.jpg");
    background-size: cover;
}